<div class="container">
    <div class="row">
  
      <div class="item col-md-12">
        <div class="mb-3">
          <label for="filterText" class="form-label">Renk Ara</label>
          <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
        </div>
      </div>
  
      <div *ngIf="filterText" class="col-md-12">
        <div class="alert alert-success" role="alert">
          <a class="alert-link">"{{filterText}}"</a> araması sonucları.
        </div>
      </div>

      <div *ngIf="errorMessage" class="col-md-12">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
  
      <div *ngFor="let color of colors | colorFilterPipe:filterText" class="item col-md-4 col-sm-4">
        <div class="card h-100" routerLink="/cars/color/{{color.id}}" style="background-color: #{{color.colorCode}};"></div>
        <div class="card-footer bg-transparent">{{color.colorName}}</div>
      </div>
  
    </div>
  </div>
