<div class="container">
    <div class="card text-center" style="margin-top: 50px;">
        <div class="card-header">
          Hata! 404
        </div>
        <div class="card-body">
          <h5 class="card-title">Sayfa bulunamadı.</h5>
          <p class="card-text">Aradığınız sayfayı bulamadık. Aşağıdaki bağlantıdan anasayfaya dönebilirsiniz.</p>
          <a class="btn btn-primary" routerLink="">Anasayfa</a>
        </div>
        <div class="card-footer text-muted">
          Rent A Car Project 2021
        </div>
    </div>
</div>
