  <div class="container">
    <div class="row">

      <div class="item col-md-3">

        <app-category></app-category>

      </div>

      <div class="item col-md-9">
        <div class="row">

          <div class="d-flex justify-content-center" *ngIf="dataLoaded == false">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div *ngFor="let car of cars | carLimitPipe:9" [hidden]="errorMessage" class="item col-lg-4 col-md-6">
            <div class="card h-100">     
              <img src="{{carImagePath + car.coverPhotoPath}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{car.brandName}}</h5>
                <p class="card-text">{{car.description}}</p>
                <p class="card-text"><b>Günlük Fiyat : </b>{{car.dailyPrice | currency:"TRY":"₺"}}</p>
                <a routerLink="/car/{{car.carId}}" class="btn btn-primary">Aracı İncele</a>
              </div>
            </div>
          </div>

          <div *ngIf="errorMessage" class="item alert alert-danger" role="alert">
            {{errorMessage}}
          </div>

          <nav *ngIf="!errorMessage" aria-label="Page navigation example">
            <ul class="item pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Geri</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">İleri</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>